PORT=3000
NODE_ENV=development


# ============================================================================
# DB General Configuration
# ============================================================================
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=vc_common_service
DB_LOGGING=false

# ============================================================================
# DB SSL Configuration
# ============================================================================
DB_SSL=false
# DB_SSL=true
# DB_SSL_REJECT_UNAUTHORIZED=true
# DB_SSL_CA=/etc/postgres/certs/ca.crt

# ===========================================================================
# Swagger Configuration
# ===========================================================================
SWAGGER_ENABLED=true
SWAGGER_JSON_ENABLED=true
